@inherits LayoutComponentBase
@using POC_AnotherType.Components

<div class="app-wrapper">
    <div class="wrapper flux">
        <header>
            <Logo />
        </header>
        <main>
            @Body
        </main>
    </div>
</div>
